/* common */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@500;600;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&display=swap');
:root{
    --themeclr: #573080
}
.puprletxt{
    color:var(--themeclr) !important
}
.themeclr{
  color: var(--themeclr) !important;
}
.f-16{
  font-size: 16px;
}
.w-full{
  width: 100%;
}
.aqua{
  color: #19C5B8;
}
.nounder{
  text-decoration: none;
}
/* bootstrap */
.btn-link{
  text-decoration: none;
}
.align-center{
    align-items: center;
}
.jc-between{
  justify-content: space-between;
}
.jc-center{
  justify-content: center;
}
.jc-end{
  justify-content: end;
}

.flex5-5 > *:first-child{
  flex:0.5
}

.flex5-5 > *:last-child{
  flex:0.5 ;
  
}

.offcanvas-bottom{
    height: 60vh;
}
.small.offcanvas-bottom{
  height: 50vh;
}
.treat-det p {
    font-size: 14px;
    line-height: 31px;
    font-weight: normal;
    color: #474545;
}
.treat-det h6{
    font-weight: 500;
    margin-top: 10px;
}
.imgborder{
    background-image: url("../Images/eclinic-img/imgborder.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 150px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.imgborder img{
    max-width: 100px;  
    width: 100%;
}
.offcanvas {
    background-color: #f9efff;
    border-radius: 30px 30px 0 0;
}
.treat-det {
    background: #E7DCF3B0;
    box-shadow: 0px 3px 26px #00000024;
    border-radius: 20px;
    padding: 15px;
}
.violetcard {
    background: #D5BFECB0;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
}
.violetcard h5 {
    color: #000;
    font-size: 16px;
}
button.themebtn-bordered.big {
  padding: 12px 35px;
}
.themebtn-bordered, .queries ul li button {
    border:2px solid #8045BC !important;
    color: #8045BC !important;
    background-color: transparent;
  }
.themebtn-light{
    background: #CEAEEF;
    border: 2px solid #CEAEEF;
    color: #430C7B;
}
.purplebtn, .themebtn {
  background: #7F30CF;
  color: #fff;
  border: 2px solid #7F30CF;
  box-shadow: 0px 3px 33px #00000057 !important
}
.themebtn:hover{
  background-color: transparent;
  color: var(--themeclr);

}
.purplebtn:hover{
  background-color: #fff;
  color: var(--themeclr) !important;
}
.themebtn-light:hover {
  background: transparent;
}
.themebtn-bordered:hover,.queries ul li button:hover{
  color: #fff !important;
  background-color: #8045BC  !important;
}
.themebtn-bordered, .queries ul li button, .themebtn-light, .purplebtn, .themebtn, .btn-purple, .btn-grey, .queries ul li button{
  font-weight: 600;
  font-size: 12px;
  padding: 9px 18px !important;
  border-radius: 6px !important;
}
.requestlogin.paynow img.write {
  width: 33px;
}

.requestlogin.cart img.doc {
  border-radius: 18px;
  width: 75px;
  height: 70px !important;
}
.requestlogin.paywith img.copy {
  border-radius: 5px !important;
  width: 40px !important;
}
.requestlogin.success img.leftarrow{
  border-radius: 5px;
  width: 100px;
  height: 80px;
}
.fade.offcanvas-backdrop.show {
    background: #2A064ECF;
}
.sec_img_dots img {
    min-height: calc(100% + 26px);
    bottom: 0;
    position: relative;
    max-height: 250px;
}
  .querylist, .whitebox {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    padding: 20px;
    background: #fff;
    margin-bottom: 10px;
  }

  /* cust radio */
  .custradio {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .custradio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #707070;
  }
  
  /* On mouse-over, add a grey background color */
  .custradio:hover input ~ .checkmark {
    background-color: transparent;
    border-color: var(--themeclr);
}
  
  /* When the radio button is checked, add a blue background */
  .custradio input:checked ~ .checkmark {
    background-color: transparent;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .custradio input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .custradio .checkmark:after {
      top: 2px;
      left: 2px;
      width: 14px;
      aspect-ratio: 1/1;
      border-radius: 50%;
      background: var(--themeclr);
  }


  .themeinput {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    padding-left: 0;
    appearance: auto;
  }
  .queries{
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
   
  }

  .queries ul {
    display: flex;
    justify-content: space-between;
    border-bottom: 0;
    margin-top: 20px;
  }
  /* .queries ul li button{
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
  } */
  .finalmodal {
    position: relative;
    bottom: -60px;
    background: #fff;
}
  .queries ul li:first-child .nav-link.active{
    display:none
  }
  .queries ul li:first-child button{
    background-color: #E2E0E0 ;
    border-color: #E2E0E0 !important;
    color: gray !important;
  }
  .queries ul li:first-child button:hover{
    color: var(--themeclr) !important;
    border-color: var(--themeclr) !important;
    background-color: transparent !important;
  }
.steps_badge:last-child,.steps_badge:first-child:after {
   background-color: #713DA7 !important;
   color: #BE93E9;
}
.showsidebar.final .steps_badge:last-child,.showsidebar.final .steps_badge:first-child:after {
  background: #CEAEEF !important;
  color: #7F30CF;
}
  .steps_badge:first-child {
    margin-right: 100px;
    position: relative;
}
.steps_badge:first-child:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 3px;
  left: 35px;
}
.requestlogin img {
  width: 55px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.borderinput {
  border: 1px dashed #adadad;
  background: transparent;
  appearance: auto;
  height: 45px;
  border-radius: 5px;
  box-shadow: none !important;
}
.borderinput.input-group input,.borderinput.input-group span {
  background: transparent;
}
.borderinput:focus {
  background: transparent;
}
.form-floating  > .form-control.borderinput:focus~label{
  background: #f9efff;
}
input::-webkit-datetime-edit {
  opacity: 0;
}
.paywith .whitebox .d-flex > *:last-child, 
.paynow  .whitebox .d-flex > *:last-child, 
.cart .whitebox .d-flex > *:last-child,
.paywith table tr th:last-child, .paywith table tr td:last-child{
  text-align: right;
}
.paywith .whitebox .d-flex > *:nth-child(2) , 
.paynow .whitebox .d-flex > *:nth-child(2),
.cart .whitebox .d-flex > *:nth-child(2){
  text-align: center;
}
.paywith table tr th:first-child, .paywith table tr td:first-child  {
  text-align: left;
}
tbody,.paywith tbody tr td {
  border: 0 !important;

}
.paywith tbody tr td ,.paywith tr th {
padding-left: 0;
padding-right: 0;
}
.paywith table tr td:first-child ,.paywith .flex-1 > *:first-child,
.paynow .flex-1 > *:first-child{
  font-size: 14px;
}

.bordered {
  border: 0.1px dashed #b7b7b7 !important;
  background: transparent;
}
.form-floating > .form-control:focus~label{
  opacity: .65;
  transform: scale(.85) translateY(-1.8rem) translateX(.15rem);
}
.form-floating label {
  font-size: 14px;
  color: #727272;
}
input {
  font-size: 14px !important;
  color: #727272 !important;
}
.dangerbg {
  background: #F5ADAD;
  margin-bottom: 0;
  color: #6E2929;
  font-size: 13px;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  align-content: center;
  height: 100%;
}
.borderedinputbox {
  border: 1px dashed #adadad;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
}
.addorremove {
  border: 1px solid #b9b8b8;
  border-radius: 5px;
  max-width: 135px;
  display: flex;
}
.addorremove > *{
  flex:1
}
.addorremove input{
  border-radius: 0;
}
.cartmenu{
  position: relative;
}
.cartmenu img {
  width: 40px;
}
.cartmenu span {
  font-size: 10px;
  position: absolute;
  background: #19C590;
  color: #fff;
  display: block;
  top: 0;
  right: 0;
  aspect-ratio: 1/1;
  height: 15px;
  border-radius: 50%;
  text-align: center;
}


.admin .form-floating > .form-control.borderinput:focus~label{
  background-color: #fff;
  color: #727272 !important;
}
.admin .nav.nav-tabs {
  justify-content: space-around;
}
.admin .nav.nav-tabs .nav-link.active {
  border: 0;
  color: #fff;
}
.admin .nav.nav-tabs .nav-link {
  position: relative;
  z-index: 1;
  color: #000;

}
.admin .nav.nav-tabs .nav-link:hover{
  color: #fff;
}
.admin .nav.nav-tabs .nav-link:hover{
  border-color: transparent;
}
.admin .nav.nav-tabs .nav-link.active:after ,.admin .nav.nav-tabs .nav-link:hover:after{
  content: "";
  background:#be8ef1;
  height: 23px;
  width: 100%;
  position: absolute;
  filter: blur(10px);
  border-radius: 21px;
  left: 0;
  z-index: -1;
}
.browseimg {
  width: 87px;
  height: 76px;
}
.browseimg img{
  height: 100%;
    width: 100%;
    object-fit: cover;
}


.browseinput input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  opacity: 0;
  cursor: pointer;
}
.browseinput  {
  position: relative;
}
.browseinput button{
  pointer-events: none;
}
.profile .browseimg img,.profile .browseimg {
  width: 150px;
  height: 112px;
  border-radius: 8px;
  object-fit: contain;
}
.qrcode {
  background: #f2f2f2;
  padding: 16px;
  border-radius: 15px;
}
.qrcode img {
  aspect-ratio: 1/1;
  max-width: 170px;
  width: 100%;
}


body,html,.sidebar .sidelist{
  scrollbar-width: thin;
  scrollbar-color: var(--themeclr) #d8c8e9 ;
}
.offcanvas-body {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #d8c8e9 ;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--themeclr);
}
.offcanvas-body::-webkit-scrollbar{
  width: 0;
}

.sidebar.adminside .sidelist{
  overflow-y: auto;
  min-height: calc(100vh - 380px);
}
button.action {
  background: transparent;
  border: 1px dashed #b8b8b8;
  border-radius: 5px;
  padding: 7px 10px;
  color: var(--themeclr);
  font-size: 12px;
  margin-left: 5px;
}
button.action:hover{
  color:#000;
  border-color: var(--themeclr);
}
.querylist .custradio {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
}
.querylist h6 {
  font-weight: 600;
  margin-bottom: 16px;
}

/* 
@media(max-width:1400px){
  .flex5-5 > *:first-child,.flex2-1-1 > *:nth-child(2), .flex2-1-1 > *:last-child{
    flex:unset
  }
} */
.mobileadmin {
  display: none;
}
.mobileadmin a {
  margin-bottom: 15px;
}
@media(max-width:1200px){
  .flex5-5 {
   display: block !important;
  }
  .flex5-5 button{
    margin-top: 10px;
  }
}
@media(max-width:991px){
  .sidebar.adminside .sidelist{
    min-height: 100vh;
  }
  .mobileadmin {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    width: calc(100% - 10px);
}
  .offcanvas-bottom, .small.offcanvas-bottom {
    height: calc(100vh - 20px);
}
}

@media(max-width:767px){
  .offcanvas-body .container {
    padding: 0;
}
}
@media(max-width:575px){
  .querylist, .whitebox {
    padding: 10px;
  }
}